.center {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.cardall:hover {
  transform: scale(1.1);
}
.cardall {
  transition: transform 0.3s ease;
}
.gap {
  border: none;
  margin-top: 10%;
  background: transparent;
  color: white;
}
.head {
  font-size: 3.125rem;
}
.movie_card_img {
  height: 350px;
  width: 300px;
}
.login {
  align-items: center;
}
.card_gap{
  margin-top: 20px
  /* opacity: 0.7; */
}
