<main>
   <header>
       <nav>
    <label for="sort">Sort By:</label>
    <select id="sort" name="sort">
    <option value="alphabetically">A to Z</option>
    <option value="rating">Rating</option>
    <option value="watchCount">Watch Count</option>
    </select>
  <span>Filter: 
   Rating:
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">1</label><br>
  <input type="checkbox" id="rating2" name="rating2" value="2">
  <label for="rating2">2</label><br>
  <input type="checkbox" id="rating3" name="rating3" value="3">
  <label for="rating3">3</label><br><br>
  <input type="checkbox" id="rating4" name="rating4" value="4">
  <label for="rating4">4</label><br><br>
  <input type="checkbox" id="rating5" name="rating5" value="5">
  <label for="rating5">5</label><br><br>
  Genres:
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Action & Adventure</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Comedy</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Crime</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Drama</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Horror</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Mystery</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Romance</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Science-Fiction</label><br>
  <input type="checkbox" id="rating1" name="rating1" value="1">
  <label for="rating1">Thriller</label><br>
  </span>
  </nav>
   </header>
   <button type="button" onclick="addMovie()">Add Movie</button>
   <div id="all_movies">
       
   </div>
</main>