<main class="container">
        <header>
        <h1 id="the-heading">Add a new Movie</h1>
        </header><br>
        <form id="addMovieForm" method="post">
            <label for="search_term"> Movie Name
            <input type="search" id="search_movie" placeholder="Enter Movie Name...">
            </label>
            <label for="stream_service"> Streaming Service
            <input type="url" id="stream_service"> 
            </label>
            <label for="release_year"> Release Year
                <input type="date" id="release_year"> 
            </label>
            <label for="director"> Director
                <input type="text" id="director"> 
            </label>
            <label for="cast"> Cast
                <textarea id="cast"></textarea> 
            </label>
            <label> Genres
                <input type="checkbox"> 
            </label>
            <label> Poster
                <input type="image"> 
            </label>
            <button type="submit">Add Movie</button>
        </form>
        <br>
        <a href="/" id="homeLink">Home Page</a><br><br>
    </main>