<style>
    body {
        background-image: url('../../public/images/bgimg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar-default {
        background: none;
    }
</style>
<div class="container">
    <div class="card text-center gap">
        <div class="card-body">
            <h1 class="card-title head">BingeWatch</h1>
            <h3 class="card-text">One stop place to know what to watch next!</h3>
            <a href="/login" class="btn btn-danger">Get Started</a>
        </div>
    </div>
</div>
<br>
<div>
    {{#each trending}}
    <p>{{username}}</p>
    {{/each}}
</div>