<div class="loginbg">
	<div class="container">
		<div class="card_gap col d-flex justify-content-center">
			<div class="login card text-white bg-dark w-50">
				<div class="card-body">
					<h1 class="card-title head">Login</h1>
					<form action='/login' method='post' id='login-form'>
						<div class="form-group">
							<label for='username'><b>Username</b></label>
							<input type='text' id='username' placeholder='Enter Username' name='username'
								class="form-control" />
						</div>
						<br />
						<div class="form-group">
							<label for='password'><b>Password</b></label>
							<input type='password' id='password' placeholder='Enter Password' name='password'
								class="form-control" />
						</div>
						<br />
						<button class="btn btn-danger" type='submit'>Login</button>
						<br>
						<a class="login-signup-a" href='/signup'>Need to register? Click here to sign-up</a>
					</form>
					<p class='error'>
						{{error}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>