<div class="showcaseFull">
	<div class="container">
		<div class="card-tansparent text-center">
			<div class="card-body content">
				<h1 class="card-title head">BingeWatch</h1>
				<h3 class="card-text">All done? Have A Nice Night!</h3>
				<h4 class="card-text">Want to watch more?</h4><a href="/login" class="btn btn-danger">Get Started</a>
			</div>
		</div>
	</div>
</div>