{{!-- <head>
	<meta charset='UTF-8' />
	
	<title>Private</title>
</head>
<body> --}}
	<main>
	<h1>This is Private</h1>
	<h2>User Details</h2>

	<h3>username: {{username}}</h3>

	<a href='/logout'>LogOut</a>
	</main>
{{!-- </body> --}}